html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-radius: 6px;
}
:hover::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#d4031b 50%, rgba(190, 3, 25, 0.85) 120%);
}

.card {
  border-radius: 10px !important;
  overflow: hidden;
  color: black;
}

.card-body {
  background-color: #e3e3e3;
}
.contQuotes h3.quotes1 {
  margin-top: 100px !important;
  color: white !important;
  font-size: 2.2rem !important;
  font-weight: 500 !important;
}

.contQuotes h3.quotes2 {
  color: white !important;
  font-size: 2rem !important;
  font-weight: 400 !important;
}

.buttonSearch {
  padding: 0.5rem;
  margin-left: -16.8rem !important;
  border-radius: 20rem !important;
  font-size: 1.2rem;
  color: #ff001f !important;
}

.main-background {
  background: url(./../../../image/backgroundhome.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 32rem;
}

.main-background h1 {
  color: white;
  font-weight: 700;
}

.mainInput {
  width: 35rem !important;
  padding: 1.7rem 4rem !important;
  border-radius: 20rem !important;
  margin: -1rem -17rem !important;
}

input.mainInput {
  background-color: white !important;
}

.mainInput:focus {
  border-color: #ff001f !important;
  box-shadow: #ff001f !important;
}

.underlineMain {
  width: 255px;
  height: 2px;
  background-color: #ff001f;
}

.rowEvent {
  margin-left: -100px !important;
  margin-right: -100px !important;
  padding-left: 15px;
  padding-right: 15px;
}

.card-deck img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.main-card {
  box-shadow: 0 5px 5px -2px gray;
  transform: scale(1);
  margin-left: 5px;
  margin-right: 50px !important;
}

.mainBody {
  height: 340px;
}

.main-card:hover {
  box-shadow: 2px 2px 20px #c4c4c4;
  transition: transform 0.5s ease;
  transform: scale(1.1);
  z-index: 1;
}

.buttonMore {
  color: white !important;
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
  padding: 0.7rem !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .contQuotes h3.quotes1 {
    padding-top: 2rem !important;
    color: white !important;
    font-size: 2rem !important;
    font-weight: 500 !important;
  }
  
  .contQuotes h3.quotes2 {
    color: white !important;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
  .card-deck img{
    width: 100%;
    height: 200px;
  }
  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.3rem !important;
  } 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }
  .contQuotes h3.quotes1 {
    padding-top: 0.8rem !important;
    color: white !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
  .contQuotes h3.quotes2 {  
    color: white !important;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
  .card-deck {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    margin-right: 15px !important;
    margin-left: 85px !important;
  }
  img.card-img-top{
    width: 100%;
    height: 250px;
  }
  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.3rem !important;
  }
}

@media (min-width : 481px) and (max-width : 575.98px){
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .contQuotes h3.quotes1 {
    padding-top: 2rem !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }
  
  .contQuotes h3.quotes2 {
    color: white !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
  }
  .card-deck {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    margin-right: 15px !important;
    margin-left: 85px !important;
  }
  img.card-img-top{
    width: 100%;
    height: 250px;
  }
  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.2rem !important;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .contQuotes h3.quotes1 {
    padding-top: 2rem !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }
  
  .contQuotes h3.quotes2 {
    color: white !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
  }

  .card-deck {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    margin-right: 15px !important;
    margin-left: 79px !important;
  }
  img.card-img-top{
    width: 100%;
    height: 250px;
  }

  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.2rem !important;
  }
}

@media (min-width: 360px) and (max-width: 429px) {
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .contQuotes h3.quotes1 {
    padding-top: 2rem !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }
  
  .contQuotes h3.quotes2 {
    color: white !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
  }
  .card-deck {
    width: 80%;
    height: 560px !important;
    display: flex;
    flex-flow: row wrap;
    margin-right: 15px !important;
    margin-left: 60px !important;
  }
  img.card-img-top{
    width: 100%;
    height: 250px;
  }
  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.2rem !important;
  }
}

@media (min-width: 319px) and (max-width: 359px) {
  .main-background {
    background: url(./../../../image/backgroundhome.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .contQuotes h3.quotes1 {
    padding-top: 2rem !important;
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }
  
  .contQuotes h3.quotes2 {
    color: white !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
  }
  .textTitle{
    font-size: 22px;
    text-align: center;
  }
  .underlineMain{
    width: 65%;
  }
  .underlineCarousel{
    width: 50%;
  }
  .underlineTrend{
    width: 60%;
    text-align: center;
  }
  .trend-background h2 {
    font-size: 1.7rem !important;
    margin-top: 2em;
    margin-left: -7rem !important;
  }
  .buttonCreate {
    margin-left: -8rem;
    padding: 0.3rem !important;
  }
  .card-deck{
    margin-left: 20px;
  }
  .main-card{
    margin-left: 30px;
  }
  .buttonMore {
    color: white !important;
    background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #ff001f !important;
    padding: 0.2rem !important;
  }
}